<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='navstyle.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='dashboardselector.css') }}"
    />
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{{ url_for('static', filename='delete.js') }}"></script>
    <title>Dashboard</title>
  </head>
  <body>
    {% include '%s/includes/_navbar.html' % session['username'] %}
    <div class="filters">
      <div class="filter">
        <div class="selectdiscription">Delete Dashboard</div>
          <div class="select">
            <select id="deleteDashboard">
              <option value="Option 1">None</option>
            </select>
          </div>
      </div>
      <div class="halffilter">
        <input id=filter class="btnsolid" type="submit" value="Delete" onclick="deleteDashboard()"/>
      </div>
    </div>
    <div class="cards">
      {% include '%s/includes/_dashboards.html' % session['username'] %}
      <div class="card">
        <input class="dashboard" id="dashboard" type=button onClick="parent.location='dashboard/generate'" value='➕'>
      </div>
    </div>
    <script>
      var dashboards = document.querySelectorAll('#dashboard')
      var e = document.getElementById('deleteDashboard')
      for (var i =0; i<dashboards.length-1; i++){
        var option = document.createElement("option");
        option.text = dashboards[i].value;
        e.add(option);
      }
    </script>
  </body>
</html>
