<div class="filters">
  <div class="filter">
    <div class="selectdiscription">Country</div>
    <div class="select">
      <select id="country">
        <option value="Option 1">All</option>
      </select>
    </div>
  </div>
  <div class="filter">
    <div class="selectdiscription">City</div>
    <div class="select">
      <select id="city">
        <option value="Option 1">All</option>
      </select>
    </div>
  </div>
  <div class="filter">
    <div class="selectdiscription">Store</div>
    <div class="select">
      <select id="store">
        <option value="Option 1">All</option>
      </select>
    </div>
  </div>
  <div class="filter">
    <div class="selectdiscription">Brand</div>
    <div class="select">
      <select id="brand">
        <option value="Option 1">All</option>
      </select>
    </div>
  </div>
  <div class="filter">
    <div class="selectdiscription">Product</div>
    <div class="select">
      <select id="product">
        <option value="Option 1">All</option>
      </select>
    </div>
  </div>
  <div class="filter">
    <div class="selectdiscription">From</div>
    <input class="date" type="date" name="startdate" id="startdate">
  </div>
  <div class="filter">
    <div class="selectdiscription">To</div>
    <input class="date" type="date" name="endtdate" id="enddate">
  </div>
</div>
<div class="filters">
  <div class="fullfilter">
    <input id=filter class="btnsolid" type="submit" value="Apply Filters" onclick="filter()"/>
  </div>
</div>
