<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='uploadfile.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='navstyle.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Predict</title>
  </head>
  <body>
    {% include 'includes/_navbar.html' %} {% include 'includes/_messages.html'%}
    <div class="frames">{% include '%s/includes/_predict.html' % session['username'] %}</div>
  </body>
</html>
